@charset "UTF-8";
/*
*	  main.scss	/ css
*
*	  Ersteller:		    Kevin Krazius
*	  Erstellungsdatum:	    03-06-2024
*	  Info/Notizen:		    Diese Datei wird aus der main.scss erstellt / erstellt die css
*
*	  Editiert von:		    Kevin Krazius
*	  Editiert am:		    03-14-2024
*	  Info/Notizen:		    Qustion- / AnswerBlock Design
*
*/
.home {
  text-align: center;
  padding: 2rem;
}
.home h1 {
  font-size: 2rem;
  color: #EAECF0;
}
.home p {
  font-size: 1rem;
  color: #0693e3;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  position: relative;
  min-width: 383px;
}
.form-container > div,
.form-container > button {
  width: 100%;
}

.input-group {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 95px;
}

.button {
  padding: 10px 15px;
  background-color: #2970FF;
  color: #FAFAFA;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s, color 0.3s, box-shadow 0.3s;
}
.button:hover {
  background-color: #FAFAFA;
  color: #2970FF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.button:active {
  background-color: #e1e1e1;
  transform: scale(0.95);
}

.navbar {
  min-width: 405px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(52, 64, 84);
  padding: 1rem;
  color: #EAECF0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar .logo {
  font-size: 1.8rem;
  color: #2970FF;
  text-decoration: none;
  transition: color 0.3s;
}
.navbar .logo:hover {
  color: brighten(#EAECF0, 20%);
}
.navbar .navRight {
  list-style: none;
  display: flex;
}
.navbar .navRight li {
  margin-right: 1.5rem;
}
.navbar .navRight li a {
  color: #2970FF;
  text-decoration: none;
  font-weight: 500;
  background-color: white;
  padding: 10px 15px;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
}
.navbar .navbar-right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar .linkSpacing {
  margin-right: 20px;
}

.content {
  min-width: 405px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #212a3a;
  padding: 1rem;
  color: #EAECF0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  padding-top: 15px;
}

.routes {
  padding-top: 105px;
}

.welcome-banner {
  text-align: center;
  margin: 0 auto;
}
.welcome-banner.active {
  color: #2970FF;
}
.welcome-banner.inactive {
  color: #EAECF0;
}

.question-block {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgb(52, 64, 84);
}
.question-block h2 {
  color: #2970FF;
  margin-bottom: 15px;
}
.question-block p {
  font-size: 18px;
  color: rgb(52, 64, 84);
}

.answer-block {
  background-color: #FAFAFA;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(52, 64, 84);
}
.answer-block h2 {
  color: #2970FF;
  margin-bottom: 15px;
}
.answer-block ul {
  list-style-type: none;
  padding: 0;
}
.answer-block li {
  background-color: #2970FF;
  color: #EAECF0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.answer-block li:hover {
  background-color: #0049dc;
  transform: scale(1.05);
}
.answer-block li.selected {
  background-color: #84adff;
  color: #212a3a;
}
.answer-block li.correct {
  background-color: #4CAF50;
  animation: highlight 1s;
}
.answer-block li.incorrect {
  background-color: #F44336;
  animation: highlight 1s;
}
.answer-block li:last-child {
  margin-bottom: 0;
}

/* Animationen für richtige/falsche Antworten */
@keyframes highlight {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

/*# sourceMappingURL=main.css.map */
